* {
    margin: 0;
}
html, body {
    height: 100%;
}

#footer {
    width:100%;
    height:80px;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    padding-right: 1em;
}